<!-- {{diagnostic}} -->
<div class="container col-10 col-md-8 align-items-center">
    <!-- <form (ngSubmit)="onSubmit()" #recipeForm="ngForm"> -->
    <form #recipeForm="ngForm">
      <h3>Add a new recipe!</h3>
      <div class="form-group">
        <label for="recipe-name">Recipe Name</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName" [(ngModel)]="recipe.recipeName" placeholder="Enter recipe_name"
          required>
      </div>
      <div class="form-group">
        <label for="cooking-time">Enter the url for your picture</label>
        <input type="text" class="form-control" id="url" name="image" [(ngModel)]="recipe.image" placeholder="Enter picture url"
          required>
      </div>
      <div class="form-group">
        <label for="cooking-time">Cooking Time</label>
        <input type="number" class="form-control" id="cookingTime" name="cookingTime" [(ngModel)]="recipe.cookingTime" placeholder="Enter cooking time"
          required>
      </div>
  
      <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <select class="form-groip" id="difficulties" required [(ngModel)]="recipe.difficulty" name="difficulty">
          <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">{{difficulty.difficulty_level}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select multiple class="form-control" name="categories" [(ngModel)]="recipe.categories">
          <option *ngFor="let category of listOfCategories" [ngValue]="category">{{category.categoryName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <div *ngIf="addMoreIngredients">
          <h5>Ingredients List </h5>
            <div *ngFor="let in of recipe.ingredients">
              <p>{{in.quantity}} {{in.name}}</p>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <small id="quantityHelp" class="form-text text-muted">Ingredient Quatity</small>
            <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="newIngredient.quantity" placeholder="Enter quantity"
              required>
          </div>
          <div class="col-6">
            <small id="ingredientNameHelp" class="form-text text-muted">Ingredient Name</small>
            <input type="text" class="form-control" id="ingredientName" name="name" [(ngModel)]="newIngredient.name" placeholder="Enter ingredients"
              required>
          </div>
          <div class="col">
            <small id="space" class="form-text text-muted"></small>
            <button class="btn btn-primary" (click)="addIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
      <!-- <p>{{recipe.ingredients.ingredientName}} {{recipe.ingredients.ingridientQuantity}}</p> -->
      <div class="form-group">
        <label for="directions">Directions</label>
        <textarea type="text" class="form-control" rows="5" id="directions" name="directions" [(ngModel)]="recipe.directions" placeholder="Enter directions"
          required></textarea>
      </div>
      <!-- <p>{{recipe.directions}}</p> -->
      <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </form>
  </div>