.image{
    height:  200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;

    border-radius: 50%;
}
.container{
    background-color: #e7e7e7;
    font-family: 'Lobster Two', cursive;
    
}