<hr class="">
<div class="container target">
  <div class="row">
    <div class="col-sm-10">
      <h1 class="">Username</h1>
      <button type="button" class="btn btn-success">Follow!</button>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Real name:</strong>
          </span>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Email: </strong>
          </span>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Following: </strong>
          </span>
        </li>
      </ul>
    </div>
    <!--/col-3-->

    <div class="col">
      <div class="panel panel-default">
        <h2>My Recipes</h2>
      </div>
      <div class="panel panel-default target">
        <div class="panel-body">
          <div class="row">
            <div class="col-4">
              <div class="thumbnail">
                <img alt="300x200" src="https://cdn.dribbble.com/users/7760/screenshots/244512/5.png">
                <div class="caption">
                  <h3>
                    Recipe 1
                  </h3>
                  <p>
                    Description about recipe.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="thumbnail">
                <img alt="300x200" src="https://cdn.dribbble.com/users/7760/screenshots/244512/5.png">
                <div class="caption">
                  <h3>
                    Recipe 2
                  </h3>
                  <p>
                    Description about recipe.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="thumbnail">
                <img alt="300x200" src="https://cdn.dribbble.com/users/7760/screenshots/244512/5.png">
                <div class="caption">
                  <h3>
                    Recipe 3
                  </h3>
                  <p>
                    Description about recipe
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   
      <div class="comments">
        <div class="comment-wrap">
          <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
          </div>
          <div class="comment-block">
            <form action="">
              <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
            </form>
          </div>
        </div>

        <div class="comment-wrap">
          <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
          </div>
          <div class="comment-block">
            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae
              incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis
              totam reprehenderit quasi sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</p>
            <div class="bottom-comment">
              <div class="comment-date">Aug 24, 2014 @ 2:35 PM</div>
              <ul class="comment-actions">
                <li class="complain">Complain</li>
                <li class="reply">Reply</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="comment-wrap">
          <div class="photo">
            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
          </div>
          <div class="comment-block">
            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae
              incidunt voluptatum. Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis
              totam.</p>
            <div class="bottom-comment">
              <div class="comment-date">Aug 23, 2014 @ 10:32 AM</div>
              <ul class="comment-actions">
                <li class="complain">Complain</li>
                <li class="reply">Reply</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </div>

  </body>
  <script src="/plugins/bootstrap-select.min.js"></script>
  <script src="/codemirror/jquery.codemirror.js"></script>
  <script src="/beautifier.js"></script>
</div>