<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<hr class="">
<div class="container target">
  <div class="row">
    <div class="col-sm-10">
      <h1 id="username">{{viewProfile.username}}</h1>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item">
          <span class="pull-left">
            <strong class="">Real name: {{viewProfile.first_name}} {{viewProfile.last_name}}</strong>
          </span>
        </li>
        <li class="list-group-item">
          <span class="pull-left">
            <strong class="">Email: {{viewProfile.email}} </strong>
          </span>
        </li>
        <li class="list-group-item">
          <span class="pull-left">
            <strong class="">Followers: </strong>
          </span>
        </li>
      </ul>
      <button type="button" class="btn btn-success btn-block text-center">Follow!</button>
    </div>
    <!--/col-3-->
    <div class="col">
      <button type="button" class="btn btn-success text-center" routerLink = "/addRecipe" *ngIf="!checkSameUser()">Add New</button>
      <button type="button" class="btn btn-danger text-center">Delete</button>
      <div class="panel panel-default">
        <h2>My Recipes</h2>
      </div>
      <div class="panel panel-default target">
        <div class="panel-body">
          <div class="row">
            <div class="col-4" *ngFor='let recipe of (userRecipes | recipeFilter: this.viewProfile.id)'>
              <div class="thumbnail">
                <img class="image" [src]="this.recipe.image">
                <div class="caption">
                  <h5 (click)="this.rv.navigateToRecipe(this.recipe.recipeId)">
                    {{recipe.recipeName}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/plugins/bootstrap-select.min.js"></script>
  <script src="/codemirror/jquery.codemirror.js"></script>
  <script src="/beautifier.js"></script>
</div>