<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p *ngFor="let ingredient of this.recipe.ingredients"> {{ingredient.quantity}} {{ingredient.name}}</p>
    </div>
    <div class="col-sm-8 text-left line-breaker"> 
      <h1>{{this.recipe.recipeName}}</h1>
      <p><img [src]="this.recipe.image" class="image"/></p>
      <p class="signature pointer" (click)="this.ps.goToRecipe(this.recipe.creator.id)">by {{this.recipe.creator.username}}</p>
      <hr>
      <h3>Cooking Directions</h3>
      <p>{{this.recipe.directions | directions}}</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p *ngFor="let category of this.recipe.categories">{{category.categoryName}}</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
</footer>

</body>
</html>