
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 900px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

.line-breaker {
    white-space: pre-line;
  }

  .image {
    max-height: 100%;
    max-width: 100%;
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(../assets/border.png) 30 stretch;
  }

  .pointer {
    cursor: pointer;
}

.signature {
  font-style: italic;
}